/*fonts*/
@font-face {
    font-family: 'robotoReg';
    src: url('../fonts/roboto-regular-webfont.eot');
    src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/roboto-regular-webfont.ttf') format('truetype'),
         url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoMedium';
    src: url('../fonts/roboto-medium-webfont.eot');
    src: url('../fonts/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('../fonts/roboto-medium-webfont.woff') format('woff'),
         url('../fonts/roboto-medium-webfont.ttf') format('truetype'),
         url('../fonts/roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoLight';
    src: url('../fonts/roboto-light-webfont.eot');
    src: url('../fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-light-webfont.woff2') format('woff2'),
         url('../fonts/roboto-light-webfont.woff') format('woff'),
         url('../fonts/roboto-light-webfont.ttf') format('truetype'),
         url('../fonts/roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

:root {
    --brand-color: #f7c708;
}

html, body{
    height: 100vh;
}

body{
    padding: 0px;
    margin: 0px auto;
    width: auto;
    box-sizing: border-box;
}

/*default hidden elements*/
#mainNav, 
.img-icon,
.main-logo,
.main-caption,
.btn-explore,
.about-me-desc,
.quote
{
    visibility: hidden;
}

.stop-scrolling{
    overflow: hidden;
    height: 100%;
}

.active{
	color: #ffffff !important;
}

.btnNav{
    color: #939292;
}

.row{
/*    border: 1px solid red;  */
}

.preview{
    margin-top: 200px;
}

.preview h1, .preview p{
    font-family: robotoMedium;
    text-align: center;
    margin-top: 20px;
}

/*navbar style*/
.navbar{
	border: none;
	background-color: rgba(0,0,0,0.9);
    padding: 15px 0 15px 0 !important;
    z-index: 800;
}


/*css for logo*/
.navbar-brand{
	font-family: robotoMedium;
	color: white !important;
    font-size: 1.6em;
}

.text-paul{
	color: var(--brand-color);
}

/*font custom for nav links*/
nav li{
	font-family: robotoReg;
	font-size: 12px;
}

/* slide 1 */
#slide1{
    background: url("../images/slide1.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
}

#cover-content{
    text-align: center;
    color: white;
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.main-logo{
    font-family: robotoMedium;
    font-size: 4.2em;
    letter-spacing: -1px;
}

.header-content h1 {
    margin: 0;
}

.header-content p{
    font-family: robotoLight;
    margin-top: 30px;
    margin-bottom: 60px;
    font-size: 1.1em;
    word-spacing: 0.5rem;
}

.header-content img{
    width: 100%;
    max-width: 325px;
/*    border: 1px solid red;*/
}

/*Button Explore*/
.header-content a{
	color: white;
	font-size: 14px;
	border: 1px solid #FFF;
	padding: 10px 25px 10px 25px;
	font-family: robotoReg;
	-webkit-transition: background-color 0.5s ease;
	-moz-transition: background-color 0.5s ease;
	-o-transition: background-color 0.5s ease;
	transition: background-color 0.5s ease;
    text-decoration: none;
    display: block;
    width: 12rem;
    margin: 0 auto;
}

.header-content a:hover{
	background-color: var(--brand-color);
	border: 1px none;
}

/*slide 2*/
#slide2{
    background-color: white;
    padding: 140px 0 140px 0;
}

.about-me-desc h6{
	color: #252424;
	font-family: robotoLight;
    font-size: 1.2em;
    line-height: 3em;
    text-align: center;
}

.paul{
    color: var(--brand-color);
    font-family: robotoReg;
}

/*slide 3*/
#slide3{
    background: url("../images/slide3.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 60px 0 60px 0;
}

.row-icon{
/*    background-color: #FF0000;*/
    height: 400px;
    text-align: center;
    color: white;
}

.icons{
	position: relative;
	left: 50%;
	top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
    width: 350px;
}

.icons h4{
    font-family: robotoMedium;
    font-weight: bold;
    font-size: 1.2em;
    padding-top: 20px;
    color: white;
}

.icons p{
    font-family: robotoReg;
    line-height: 1.8em;
}

/*slide 4*/
#slide4{
    text-align: center;
    background-color: white;
    width: 100%;
    padding: 80px 0 40px 0;
}

#slide4 h1{
    margin-bottom: 80px;
    font-family: robotoMedium;
    color: #3b3535;
}

/*CSS FOR ALL MODAL BOX*/
.modal-dialog{
    width: 100%;
    min-height: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    background-color: white;
}

.modal-content{
    height: 100%;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    border-style: none;
}

.pop-up-container{
    margin-top: 100px;
}

.pop-up-container .image-pop-up{
    max-width: 800px;
    width: 100%;
    height: auto;
    padding: 0 15px 0 15px;
    margin-bottom: 25px;
}

.btn-close-pop-up-container{
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 999;
}

.work-items{
    margin-bottom: 25px;
}

.box{
    width: 100%;
    height: 250px;
    background-color: gray;
    overflow: hidden;
    background-size: cover;
    display: table;
    cursor: pointer;
}

#overlay{
    background: rgba(0,0,0,0.8);
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    opacity: 0;
}

#overlay:hover{
    opacity: 1;
}

#overlay-hover{
    color: white;
    font-size: 18px;
    font-family: robotoMedium;
}

/*slide 5 quote*/
#slide5{
    background-color: var(--brand-color);
    text-align: center;
    color: white;
    width: 100%;
    padding: 140px 0 140px 0;
}

#slide5 h1{
    font-family: robotoLight;
    line-height: 50px;
    font-size: 2.8em;
}

.web-design{
/*    color: black;*/
}


/*slide 6 contacts section*/
#slide6{
    width: 100%;
    padding: 180px 0 180px 0;
    background-color: #21201d;
    background: url("../images/slide4.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    text-align: center;
}

#slide6 h1{
    margin-bottom: 80px;
    font-family: robotoMedium;
    font-weight: bold;
    font-size: 3em;
}

#slide6 a{
    border: 1px solid white;
    color: white;
    text-decoration: none;
    padding: 15px;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#slide6 a:hover{
    background-color: var(--brand-color);
    border: 1px none;
}


/*footer*/
#footer{
    width: 100%;
    padding: 50px 0 50px 0;
    background-color: #101010;
    color: gray;
}

#footer p{
    font-family: robotoLight;
    font-size: 12px;
/*    border: 1px solid red;*/
}


/*Title and desc popup*/
.title-pop-up, .desc-pop-up, .app-type{
    max-width: 550px;
    margin: 0px auto;
    padding: 8px;
    color: #464444;
    text-align: left;
}

.title-pop-up{
    font-family: robotoMedium;
}

.desc-pop-up{
    font-family: robotoLight;
    font-size: 1.1em;
}

.app-type{
    font-family: robotoLight;
    color: black;
}

.app-type a{
    text-decoration: none;
    font-family: robotoLight;
}

.type-image{
    width: 10px;
    height: 10px;
    margin-right: 6px;
}


/*Preloader*/
.progress{
    border-radius: 0px;
    height: 6px;
}

.progress .progress-bar{
    background-color: #f7c708;
}



















